* {
margin:0;
padding:0;
border:0;
}


footer, header, main, nav, aside, section {
display:block;
}


body {
	
     background-image:url(bilder/bluewater_matt2.jpg);      /*  Hintergrundgrafik gesammter Bildschirm */
     letter-spacing:1px;
}

#wrapper {
		margin-top: 70px;
		width: 940px;
		height: 690px; 
		border: solid black 1px; 
		margin-right:auto;
		margin-left: auto;
     /* padding: 30px;  */
	    padding-top: 30px;        /* Alternative für evt. Änderungen */
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;  

	}

header {
	background-image:url(bilder/point.jpg);                /* gesammter header - Bereich */
	width: 100%;
	height: 220px;
	border: solid 1px;
	 background-color: #3399FF; 
	/*opacity: 0.2; */
 /*  text-shadow:#0A0A0A 0px 2px 5px;*/	 
}

.p {
	
	color: white;
	word-spacing: 3px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 150px;
	border: solid 1px;
	
}

#ueberschrift {
	padding-left: 250px;
	padding-top:  12px;    
	text-align: center;
	color: white;
	 
}

.gross { font-size: 60px; }

.start {
	color: white;
	padding-left: 10px;
    line-height: 2;        /* hat auch Auswirkungen auf #Überschrift; Ausgleich= padding-top #Überschrift*/
   
	
}

.preise {
	color: white;                                                    
	padding-left: 10px;
   
}
.open {
	
	color: white;
	padding-left: 10px;
}

.impressum {
	
	color: white;
	padding-left: 10px;
}


#boxlinks {                                       /* gesammter Bereich boxlinks */
	
	width: 380px;
	height: 450px;  
	float: left;
  /*margin-top: 10px;*/
    font-size:80%;
  /*border: solid 1px; */
    font-family: Arial, Helvetica, sans-serif;

}
.copy {
	padding-left: 43px;
	font-size: 9px;
	font-family: Arial;
}
.bold {
	
	padding-top: 15px;
	font-weight: bold;
	/*padding-top: 10px;*/
}

#bild {
	padding-top: 50px;
	padding-left: 40px;
}
                                                          /* main Bereich gesammt  */
main {
	 
    font-family: Arial, Helvetica, sans-serif;
	width: 540px;
    height: 380px;
	float: right;
	padding-top: 10px;
/*	letter-spacing: 0.1em;*/
	word-spacing: 0.1em;           /* nicht optimal*/  
	line-height: 1.3em;
	font-size:85%;  
}
.img { padding-left: 450px;}

.textil { font-style:italic;}  

.express {
	font-style:italic;
	text-decoration: underline

}	     
                                                             /* footer - Bereich */
footer {
 
    background: linear-gradient(to left, #4169E1 , #1E90FF );   /*  Farbverlauf*/
	font-family: "Liberation Sans", Arial;
 /* text-shadow: #000000 2px 2px 5px;*/
	clear: both;
	height: 15px;
	background-color: #3399FF;  
	color:  white;  
	padding: 0.5em 1em 0.5em 2em;
	border: solid 1px #000066;
	font-size:80%;
}





                                                         /* folgend: alle Tabellen */
h1 {
	
    font-family: 'Roboto', sans-serif, Arial;                      /* Webfont*/
    text-shadow: #000000 3px 3px 5px;                       /* Schatten*/
	word-spacing: 3px;
	letter-spacing: 2px;   
	font-size: 35px;
	
}


h4 {    
                                               /*  Überschrift unter Hauptüberschrift h1 */
   
	font-family: 'Courgette', cursive, Arial;      /* Webfont*/
	font-style:italic;
	padding-top: 5px; 
	padding-left: 100px;
    font-size: 18px;
	
}	
	
	
h3 {
	
	font-family: Arial;                         /* main - Bereich Überschriften */
	font-size: 100%; 
    text-align: left;
    margin-top:0.8em;
    margin-bottom:0.2em;
	letter-spacing:1px;
}


h5 {
	font-family: Arial;                      /*Listen - Überschrift  */
	padding-top: 30px;
    text-align: center;                            
	font-size: 13px;
}	
 
 
  
li {list-style:none;}
 
li {text-align:center;}




	
		
























