  /*footer */
  .footer {
    background-color: rgb(118, 143, 197);
    text-align: center;
  }
  
  .footer p {
    color: rgb(255, 255, 255);
    font-weight: lighter;
  }
  
  .footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .footer-hr {
    margin-top: 0px;
    margin-bottom: 25px;
  }
  